@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Font";
  src: url("/fonts/Font.ttf") format("truetype");
}

@layer base {
  * :not(i) {
    @apply font-mono;
  }
  * {
    box-sizing: border-box;
  }
  body {
    @apply bg-bg;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .tilt {
    transform-style: preserve-3d;
    transform-origin: center;
  }
}
